# Виртуальное окружение
venv/
env/

# Секреты
.env
.env.local
backend/.env
frontend/.env

# База данных
*.db
sso_database.db

# Кэш Python
__pycache__/
*.pyc

# Скрытые системные файлы
.DS_Store
.vscode/
.idea/